.DS_Store
Thumbs.db

.idea/
.vscode/

node_modules/
dist/
build/
coverage/

*.log
*.tmp

android-app/.gradle/
android-app/build-tools/
android-app/local.properties
android-app/**/build/

*.keystore
*.jks
